@import "./variables.scss";

.search-nav {
  background-color: $primary-color;
  height: 48px;
  align-items: center;
  justify-content: center;

  &--input {
    position: relative;
    .input-search {
      height: 32px;
      width: 100%;
      padding: 16px;

      &::placeholder {
        font-size: 18px;
      }
    }

    .btn-search {
      background-color: $light-grey-color;
      height: 100%;
      right: 0;
      position: absolute;
      width: 42px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.item-result {
  background-color: white;

  &--image {
    margin: 16px;
    img {
      border-radius: 4px;
      height: 180px;
      width: 180px;
    }
  }
  &--description {
    margin: 32px 0 32px 16px;
    .item-price {
      display: flex;
      align-items: center;
      font-size: 24px;
      margin-bottom: 16px;
    }
    .item-title {
      margin-top: 16px;
    }
  }
}

.item-detail {
  background-color: white;
  padding-top: 32px;
  &-image {
    height: 680px;
    width: 680px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-checkout {
    &.condition {
      margin-bottom: 14px;
      font-size: 14px;
    }
    &.title {
      font-size: 24px;
    }
    &.price {
      margin: 32px 0;
      font-size: 46px;
    }
    &.buy {
      margin-right: 32px;
    }
  }
  &-description {
    margin-left: 32px;
    &.title {
      font-size: 28px;
      margin-bottom: 32px;
    }
    &.text {
      font-size: 16x;
      margin-bottom: 32px;
    }
  }
}

.btn-primary {
  background-color: $secondary-color;
  border-radius: 4px;
  color: white;
  padding: 8px 0;
  width: 100%;
}
